.hero {
  padding: 0 1rem;
  min-height: 100vh;
  background-image: url('../../assets/desktop/image-header.jpg');
  background-position: center;
  background-size: cover;
}

.container {
  position: absolute;
  top: 15rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  text-align: center;
}

.hero h1 {
  color: white;
  font-family: var(--fraunces);
  font-size: 4.5rem;
  margin-bottom: 7.5rem;
}

@media (max-width: 930px) {
  .hero h1 {
    font-size: 3rem;
  }
}

@media (max-width: 540px) {
  .hero {
    background-image: url('../../assets/mobile/image-header.jpg');
    background-size: contain 100%;
    background-repeat: no-repeat;
    min-height: 70vh;
  }
  .container {
    top: 10rem;
  }
}
