.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}

.testimonial img {
  width: 80px;
  border-radius: 50%;
}

.testimonial p {
  line-height: 1.7;
  max-width: 400px;
  color: var(--very-dark-grayish-blue);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info span:nth-of-type(1) {
  font-family: 'Fraunces', serif;
  font-weight: bold;
  color: var(--very-dark-desaturated-blue);
}

.info span:nth-of-type(2) {
  color: var(--grayish-blue);
}
