.fruits {
  display: flex;
}

.col-left,
.col-right {
  width: 50%;
  position: relative;
}

.col-left img,
.col-right img {
  width: 100%;
  height: 100%;
  display: block;
}

.text {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 1rem;
}

.text h3 {
  font-family: var(--fraunces);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.text p {
  max-width: 390px;
  margin: auto;
  line-height: 1.5;
}

.col-left .text h3,
.col-left .text p {
  color: var(--dark-desaturated-cyan);
}

.col-right .text h3,
.col-right .text p {
  color: var(--dark-blue);
}

@media (max-width: 960px) {
  .fruits {
    flex-direction: column;
  }
  .text {
    bottom: 13%;
  }
  .col-left,
  .col-right {
    width: 100%;
  }
}
